/*animations*/

	
@keyframes FadeIn {
	from {opacity:0;}
    to {opacity:1;}
}
	
@keyframes twinkle{
    from {opacity:0.5;}
    to {opacity:1;}
}

html {
		height:100%;
}


body {
	/*width: 100%;
	background-color: black;  */
	background-image: url("images/Ocelot.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	background-position: center;
	background-color: rgb(111,176,96);
	
	text-align: center;
	color: white;
}


p {
	font-size:8vh; 
	margin-left:auto;
	margin-right:auto;
	display:block;
	text-align:center;
	opacity:0;
}

#line1 {
	animation-name:FadeIn;
	animation-delay:1s;
	animation-duration:2s;
	animation-fill-mode:both;	
}

#line2 {
	animation-name:FadeIn;
	animation-delay:3s;
	animation-duration:2s;
	animation-fill-mode:both;
}

#line3 {
	animation-name:FadeIn;
	animation-delay:5s;
	animation-duration:2s;
	animation-fill-mode:both;
}

#line4 {
	animation-name:FadeIn;
	animation-delay:7s;
	animation-duration:2s;
	animation-fill-mode:both;
}

#line5 {
	animation-name:FadeIn;
	animation-delay:9s;
	animation-duration:2s;
	animation-fill-mode:both;
}


