<p>All html elements have default positions: - static: Default, does nothing, cannot postion element, position determined by normal page flow - relative: relative to its default position, i.e. the position it would be in if the postion attribute was static and it just flowed with the other page elements. - absolute: takes element out of document flow and positions relative to parent <em>if</em> parent’s position is relative or absolute-if parent’s position is static, is positioned relative to page. - fixed: position is determined relative to screen, does not scroll. Has no parents. - stick: behaves like relative but cannot scroll off screen, will <em>stick</em> at top of screen it try to scroll off</p>
<h2 id="css-variables">CSS Variables</h2>
<p>Set using custom property notation e.g. –sun-height: 100% Must be declared in a selector and are only in scope for that selector and it’s children, can make globally available by declaring in :root pseudo-class the variable is accessed using the var function e.g. height: var(–sun-height)</p>
