html {
	height: 100%;
	background: radial-gradient(circle farthest-corner, #FFFFAA 0 12%, yellow 12%, orange 30%, red 100%);
}

#land{
	position: absolute;
	height 50%;
	width: 100%;
	top: 50%;
	background-color: black;
}