body {
	font-family: Helvetica, Arial, sans-serif;
	background-color: #B3E5FC;
}

blockquote {
	background-color: #FFFFFF;
	border-radius: 2%;
	padding: 2%;
}

p {
	line-height: 1.5;
	margin: 2% 0%;
}

.homelink {
	font-size: 2em;
	color: #004D40;
}

/*Meant to make homepage link expand briefly on hover but not working
at present, selector is selecting link (tested with colour change) bit transform
not working, maybe <a> element is not scalable?*/		
a.homelink:hover {
	transform: scale(1.1);	
}
