<h1 id="try-hack-me-notes">Try Hack Me Notes</h1>
<p>As of 09/07/22 following Pre Security Path, can be found at https://tryhackme.com/paths then choosing Pre Security</p>
<h2 id="open-systems-interconnection-osi-model">Open Systems Interconnection (OSI) Model</h2>
<table>
<thead>
<tr class="header">
<th style="text-align: right;">Layer</th>
<th style="text-align: left;">Name</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: right;">1</td>
<td style="text-align: left;">Physical</td>
</tr>
<tr class="even">
<td style="text-align: right;">2</td>
<td style="text-align: left;">Data Link</td>
</tr>
<tr class="odd">
<td style="text-align: right;">3</td>
<td style="text-align: left;">Network</td>
</tr>
<tr class="even">
<td style="text-align: right;">4</td>
<td style="text-align: left;">Transport</td>
</tr>
<tr class="odd">
<td style="text-align: right;">5</td>
<td style="text-align: left;">Session</td>
</tr>
<tr class="even">
<td style="text-align: right;">6</td>
<td style="text-align: left;">Presentation</td>
</tr>
<tr class="odd">
<td style="text-align: right;">7</td>
<td style="text-align: left;">Application</td>
</tr>
</tbody>
</table>
<h2 id="transmission-control-protocol-tcp">Transmission Control Protocol (TCP)</h2>
<h3 id="tcp-layers">TCP Layers</h3>
<table>
<thead>
<tr class="header">
<th style="text-align: right;">Layer</th>
<th style="text-align: left;">Name</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: right;">1</td>
<td style="text-align: left;">Network Interface</td>
</tr>
<tr class="even">
<td style="text-align: right;">2</td>
<td style="text-align: left;">Internet</td>
</tr>
<tr class="odd">
<td style="text-align: right;">3</td>
<td style="text-align: left;">Transport</td>
</tr>
<tr class="even">
<td style="text-align: right;">4</td>
<td style="text-align: left;">Application</td>
</tr>
</tbody>
</table>
<h3 id="tcp-commands">TCP Commands</h3>
<ol type="1">
<li>SYN - Client tries to initiate session</li>
<li>SYN/ACK - Server acknowledges</li>
<li>ACK - Client acknowledges data received successfully</li>
<li>DATA - Server sends data. Will keep repeating until Client stops sending ACKs and then</li>
<li>FIN - Client requests end of session</li>
<li>FIN/ACK - Server acknowledges</li>
<li>RST - Client abruptly ends session</li>
</ol>
<p>First 3 commands are the 3-way handshake. This glosses other the details. Connection is over a <strong>socket</strong> i.e. an IP address/port combo</p>
<h2 id="domain-name-servers-dns">Domain Name Servers (DNS)</h2>
<h3 id="domain-names">Domain Names</h3>
<p>NB. Top of the hierarchy is literally the . before .com, .gov etc. A TLD is a Top Level Domain. A gTLD is a <em>generic</em> TLD e.g. .com, .gov. A second-level domain name is directly below a tld e.g. bbc.com (but NOT bbc.co.uk as col.uk as a second level domain. Ordinal free term for generally available suffix is public suffix domain). A domain name has a maximum of 63 characters, all a-z, 0-9 or hyphen. Domain names cannot start or end with hyphens or have consecutive hyphens. ### Subdomains subdomains. e.g. thistledown.deviantart.com have the same restriction re characters as above. The overall name cannot be longer than 253 characters.</p>
<h3 id="record-types">Record Types</h3>
<p>A-IPv4 AAAA-IPv6 CNAME-redirects to another domain (cannot map to IP address). MX-mail server TXT-general purpose</p>
<h2 id="ports">Ports</h2>
<p>Range is 0-1024 <a href="http://www.vmaxx.net/techinfo/ports.htm">List of Ports</a></p>
<h2 id="switches-routers">Switches &amp; Routers</h2>
<p>Routers can connect to internet and work at Layer 1 (Data Link) or Layer 3 (Transport). A Layer 2 Switch cannot work at Layer 3, so a Router is a device that can work at Layer 3. Layer 2 devices handle <em>frames</em> using <em>MAC addresses</em> and Layer 3 devices handle <em>packets</em> using <em>IP addresses</em></p>
<h2 id="firewalls">Firewalls</h2>
<h3 id="stateless-layer-3">Stateless-Layer 3</h3>
<p>Rules apply to individual packets only.</p>
<h3 id="stateful-layer-4">Stateful-Layer 4</h3>
<p>Keep track of connections. Will block devices that try to re-establish bad connections Layer 7 also exist, will make decision based on application</p>
<h3 id="web-application-firewall-e.g.-cloudflare">Web Application Firewall e.g. Cloudflare</h3>
<p>Sits in front of app, defends from DOS, cross-site scripting etc</p>
<p><a href="https://www.swhosting.com/en/comunidad/manual/firewall-perimetral-de-capa-4-gestionable">More details on Firewalls</a></p>
<h2 id="web-server">Web Server</h2>
<p>Software that serves files from root directory, standardised by the various servers e.g. http://www.example.com/picture.jpg served from /var/www/html/picture.jgp in Apache or Nginx on Linux</p>
<h3 id="virtual-host">Virtual Host</h3>
<p>Text config file rather than actual computer. Config files map directories to the virtual host’s root directories.</p>
<h3 id="backend-code">Backend Code</h3>
<p>Typically not visible to client</p>
<h2 id="load-balancer">Load Balancer</h2>
<p>Various algorithms e.g. Round Robin Performs health check on servers periodically</p>
<h2 id="virtual-private-networks-vpns">Virtual Private Networks (VPNs)</h2>
<p>Establish encrypted tunnel through public network Point To Point Protocol (PPTP) uses IPSec to encrypt the data into PPP packets. As uses standard TCP/IP stack is widely supported (NB Wikipedia advises PPTP is obsolete)</p>
<h2 id="content-delivery-networks-cdns-e.g.-cloudflar">Content Delivery Networks (CDNs) e.g. Cloudflar</h2>
<p>Store assets (images, html etc) in different locations so when request comes in closest one can be used. <em>Caches content at the network edge</em>.</p>
<h2 id="uniform-resource-locators-urls">Uniform Resource Locators (URLs)</h2>
<p>scheme: http/https: user: user.password@ host/domain: tryhackme.com port (optional): 80 /path: view-room query-string: ?id=1 fragment: # task 3 (often refers to named anchor on page)</p>
<h2 id="http-request">HTTP Request</h2>
<p>GET/HTTP/1.1 Host: tryhackme.com User-Agent: Referer:</p>
<p>(other header fields possible) Always end with a blank line so web server knows request is finished.</p>
<h3 id="http-response-codes">HTTP Response Codes</h3>
<p>Full list at <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status">Mozilla</a> formal defined by <a href="https://httpwg.org/specs/rfc9110.html#overview.of.status.codes">RFC 9110</a> Grouped as follows:</p>
<ul>
<li>100-199: Information, not commonly used</li>
<li>200-299: Success</li>
<li>200-399: Redirection</li>
<li>400-499: Client Error</li>
<li>500-599: Server Error</li>
</ul>
<p>Common used Codes are: - 200 OK - 201 Created - 301 Permanent Redirect - 302 Temporary Redirect - 400 Bad Request - 401 Unauthorized (actualy means client is unauthenticated) - 403 Forbidden (NB may issue 404 instead if wants to hide resource) - 404 Not Found - 500 Internal Server Error - 503 Service Unavailable</p>
<h2 id="unix">Unix</h2>
<h3 id="shell-operators">Shell Operators</h3>
<p>&amp; run command in background &amp;&amp; run multiple commands e.g. command1 &amp;&amp; command2 NB command 2 etc only executes if command1 completes successfully &gt; redirect output to file (overwrite) &gt;&gt; redirect output to file (append)</p>
<h3 id="cron-jobs">Cron jobs</h3>
<p>Use cron to schedule regular jobs, exactly when set using a file called a crontab. A crontab is simply a special file with formatting that is recognised by the cron process to execute each line step-by-step. Crontabs require 6 specific values:</p>
<p>Value Description MIN What minute to execute at HOUR What hour to execute at DOM What day of the month to execute at MON What month of the year to execute at DOW What day of the week to execute at CMD The actual command that will be executed.</p>
<p>Let’s use the example of backing up files. You may wish to backup “cmnatic”’s “Documents” every 12 hours. We would use the following formatting:</p>
<p>0 <em>12 </em> * * cp -R /home/cmnatic/Documents /var/backups/</p>
<p>This can be confusing to begin with, which is why there are some great resources such as the online <a href="https://crontab-generator.org/">Crontab Generator</a> that allows you to use a friendly application to generate your formatting for you! As well as the site <a href="https://crontab.guru/">Cron Guru</a>!</p>
<p>The cron service (daemon) runs in the background and constantly checks the /etc/crontab file, and /etc/cron.*/ directories. It also checks the /var/spool/cron/ directory.</p>
<p>Can create or edit a crontab file by running crontab -e which opens in the default text editor</p>
<h3 id="package-managers">Package managers</h3>
<p>Linux uses apt MacOS uses Homebrew above not exhaustive</p>
<h2 id="windows">Windows</h2>
<p>Windows files are saved in the directory saved in the environment variable %windir%, which is typically C:/Windows System 32 contains files crucial to the operating system Windows-can access Local Users &amp; Groups management centre by entering lusrmgr in search box</p>
<h2 id="updates">Updates</h2>
<p>Since Windows 10 cannot indefinitely postpose updates, will be forced restart at some point.</p>
<h2 id="firmware">Firmware</h2>
<p>UEFI replacing BIOS as firmware from about 2000, UEFI has GUI, BIOS strictly keyboard.</p>
<p>From https://www.techtarget.com/whatis/definition/Unified-Extensible-Firmware-Interface-UEFI#:~:text=Unified%20Extensible%20Firmware%20Interface%20(UEFI)%20is%20a%20specification%20for%20a,its%20operating%20system%20(OS).</p>
<p>“UEFI functions via special firmware installed on a computer’s motherboard. Like BIOS, UEFI is installed at the time of manufacturing and is the first program that runs when booting a computer. It checks to see which hardware components are attached, wakes up the components and hands them over to the OS. The new specification addresses several limitations of BIOS, including restrictions on hard disk partition size and the amount of time BIOS takes to perform its tasks.”</p>
<h2 id="cmd.exe">CMD.exe</h2>
<p>Can launch from System Configuration (Run msconfig) but obviously just direct by Run cmd. Can see help on command by suffixing with /? e.g. ipconfig/? OR if command takes sub-commands suffix with help e.g. for net command (net share, net localgroup etc) use net help</p>
<p>Useful commands:</p>
<ul>
<li>ipconfig espec ipconfig/all</li>
<li>netstat-gives network info including connected ports etc</li>
<li>whoami</li>
<li>hostname</li>
</ul>
<h3 id="uac-user-access-control">UAC (User Access Control)</h3>
<p>By default users do not run with admin permission, instead are prompted when admin permissions needed.</p>
<h3 id="task-manager">Task Manager</h3>
<p><a href="https://www.howtogeek.com/405806/windows-task-manager-the-complete-guide/">Great reference at How To Geek</a> Brief takeaways: Can launch with Ctrl+Shift+Esc</p>
<p>Right click on processes includes: - Switch To (Opens program window) - End Task - Run New Task - Always on Top - Open File Location - Properties (Opens Properties for program’s .exe file)</p>
<p>Tabs: - Performance (includes IP address &amp; CPU &amp; GPU models, system uptime, disk make &amp; model, network adapter details - App History - Startup-can stop programs running at Startup, right-click gives lots of useful info - Users</p>
<p>Can restart Windows Explorer from Task Manager by right-clicking</p>
<p>Can even get more powerful version of Task Manager, Process Manager, which is a free download from Microsoft</p>
<h3 id="system-configuration">System Configuration</h3>
<p>Need local admin rights to open. Can launch from start menu by searching for msconfig or run msconfig.exe from cmd window or Powershell. Lots of info <a href="https://learn.microsoft.com/en-us/troubleshoot/windows-client/performance/system-configuration-utility-troubleshoot-configuration-errors">here</a></p>
<p>Various utilities can be launched from System Configuration: - MSInfo tool give details on Hardware Resources, Components, Software Environment, inclues list of Environment Variables - Resource Monitor which is like Task Manager but more info, can use do find which processes have which file handles to identify conflicts and resolve them without closing apps, forcing users off etc -Cmd.exe but see at top of page as has own entry</p>
<h4 id="registry-editor">Registry Editor</h4>
<p>To edit Registry, which is a database of settings for: - User Profiles - Application information including document types - Property sheets for folders &amp; application icons - hardware - ports in use</p>
<p>Registry keys stored directly in Registry unless over 2048 bytes, then stored as files and filenames stored in Registry. Supporting files stored in %SystemRoot%except those for HKEY_CURRENT_USER which are stored in %System32%. NB max size of 64K for Registry key.</p>
<p>Should back up Registry before editing. This is done by default when backing up System State and stored in %SystemRoot%</p>
<p>Various programmatic ways to edit Registry.</p>
<p><a href="https://learn.microsoft.com/en-us/troubleshoot/windows-server/performance/windows-registry-advanced-users">More info on this page</a></p>
<h4 id="startup-options">StartUp Options</h4>
<p>Can select which services run at start up to help diagnose problems. NB for diagnosis only,to manage start programs should use Task Manger or another utility. Options are: - Diagnostic Setup-disables networking, logging and lots of other stuff - Selective Setup- can descide what starts</p>
<h4 id="control-panel">Control Panel</h4>
<p>Can launch as control.exe</p>
<h4 id="uac-settings">UAC Settings</h4>
<p>Can set level where Windows alerts you to changes, all the way from all changes including those made by yourself to no alerts at all (not recommended)</p>
<h3 id="computer-management">Computer Management</h3>
<p>Groups together lots of utilities for managing the computer. Can be launched as ** compmgmt.msc ** . <a href="https://www.groovypost.com/howto/windows-10-keyboard-shortcuts/">Full list of .msc utilities</a> Has 3 sections: System Tools, Storage, Services &amp; Applications</p>
<h4 id="system-tools">System Tools</h4>
<h5 id="task-scheduler">Task Scheduler</h5>
<h5 id="event-viewer">Event Viewer</h5>
<p>Used to view events &amp; logs.</p>
<h6 id="events">Events</h6>
<p>5 types of events: - Error - Warning - Information - Success Audit - Failure Audit More detail at (https://docs.microsoft.com/en-us/windows/win32/eventlog/event-types)</p>
<h6 id="logs">Logs</h6>
<p>5 types of Logs - Application - Security - System - CustomLog More detail at (https://docs.microsoft.com/en-us/windows/win32/eventlog/eventlog-key)</p>
<h5 id="shared-folders">Shared Folders</h5>
<p>Inclues: - Shares - Sessions - Open Files - Useful for getting handles of files if have a file you cannot close to see who has it open.</p>
<h5 id="local-users-groups">Local Users &amp; Groups</h5>
<p>can be opened directly by invoking lusrmgr.msc</p>
<h5 id="performance">Performance</h5>
<p>Opens Performance Monitor which can be opened directly with perfmon.msc. Monitors performance real-time or from log.</p>
<h5 id="device-manager">Device Manager</h5>
<h4 id="storage">Storage</h4>
<p>Includes Disk Management</p>
<h4 id="services-applications">Services &amp; Applications</h4>
<p>NB a Service is a daemon, an application that runs in the background</p>
<h2 id="offensive-security">Offensive Security</h2>
<h3 id="gobuster">Gobuster</h3>
<p>Command line utility to carry out brute force scans for hidden webpages, checking if pages match wordlist (content? Name? both?)</p>
<h2 id="defensive-security">Defensive Security</h2>
<p>Importance of documeting assets so you know what to maintain Cyber Security Awareness also important</p>
<h3 id="security-operations-centre-soc">Security Operations Centre (SOC)</h3>
<p>Team of professionals monitoring environment for threats Areas of interest are: - Vulnerabilities - Policy Violations - Unauthorised Activity - Network Intrusions</p>
<h3 id="threat-intelligence">Threat Intelligence</h3>
<p>Be aware of likely threats so defense is threat-informed.</p>
<h3 id="digital-forensics-and-incident-response">Digital Forensics and Incident Response</h3>
<ul>
<li>Digital Forensics</li>
<li>Incident Response</li>
<li>Malware Analysis</li>
</ul>
<p>Malicious IPs can be reported on AbuseIPDB.</p>
