@font-face {
	font-family: Wonderland;
	src: url("Beyond Wonderland.ttf");
}

/*animations*/

	
@keyframes HeadingFadeIn {
	0% {color:black;}
	100% {color:#00dd2c;}
}
	
@keyframes twinkle{
    from {opacity:0.5;}
    to {opacity:1;}
}

@keyframes fadeIn{
	from {opacity:0;}
	to {opacity:1;}
}

@keyframes baubleFadeIn{
	from {opacity:0;}
	to {opacity:0.8;}
}


body {
	background-color: black;
}

p {
	animation-name:HeadingFadeIn;
	animation-delay:12s;
	animation-duration:5s;	
	animation-fill-mode:both;
	font-family: Wonderland;
	font-size:5vh; 
	margin-left:auto;
	margin-right:auto;
	display:block;
	text-align:center;
}

svg {
	height:80vh;
	width:auto;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

path {animation-name: fadeIn;
      animation-duration:5s;
	  animation-fill-mode:both;
}


rect { animation-name: fadeIn;
      animation-duration:5s;
	  animation-fill-mode:both;
}


#TreeStar {
	animation-name:fadeIn;
	animation-delay:5s;
	animation-duration:4s;
	animation-fill-mode:both;
}


circle[id^="Red"] {
	animation-name:baubleFadeIn;
	animation-delay:9s;
	animation-duration:3s;
	animation-fill-mode:both;
}

circle[id^="Yellow"] {
	animation-name:baubleFadeIn;
	animation-delay:10s;
	animation-duration:2s;
	animation-fill-mode:both;
}

circle[id^="Green"] {
	animation-name:baubleFadeIn;
	animation-delay:11s;
	animation-duration:1s;
	animation-fill-mode:both;
}


path[id^="star"] {
    animation-name:twinkle;
    animation-duration:2s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
}


/*
Thsought for the animation, apparently you can use wildcards in 
css selectors see http://stackoverflow.com/questions/6874705/is-it-possible-to-use-a-css-wildcard-in-the-middle-of-a-selector
so given that all things i want to play with are paths and have meaninful ids
I can use this to select

So first I want to fade the tree in, then
the the baubles, 
then the stars, 
then make the stars twinkle 
Ok lets go!

need to tweak as baubles are not set to opacity but 0.8 (or close enough)
os need custom fade-in for baubles-could do red, then green, then yellow
*/